/auth-server/.phpunit.cache
/auth-server/node_modules
/auth-server/public/build
/auth-server/public/hot
/auth-server/public/storage
/auth-server/storage/*.key
/auth-server/vendor
/auth-server/.env
/auth-server/.env.backup
/auth-server/.env.production
/auth-server/.phpactor.json
/auth-server/.phpunit.result.cache
/auth-server/Homestead.json
/auth-server/Homestead.yaml
/auth-server/auth.json
/auth-server/npm-debug.log
/auth-server/yarn-error.log
/auth-server/.fleet
/auth-server/.idea
/auth-server/.vscode
